.card {
  background-color: green;
  max-width: auto;
  height: auto;
  padding: 10px;
  color: rgb(255, 251, 0);
  border: 5px solid darkblue;
  border-radius: 5px;
  font-family: sans-serif;
  margin: 10px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
.card h3 {
  color: black;
}
.card img{
  width: 200px;
  margin: auto;
  transition: ease-in 0.5s;
}

.card img:hover {
  scale: 1.5;
  box-shadow: 5px 5px 5px 5px ;
  border-radius: 20px;
}

.buy {
  padding: 5px;
  display: block;
  text-align: center;
  margin:20px 0px 0px 70px;
  border-radius: 10px;
  background-color: aqua;
  color: black;
  box-shadow: 0px 2px 0px 0px;
}

.disc {
  margin: 10px;
  padding: 2px;
  border-radius: 50px;
  background-color: yellow;
  color: red;
}

.dlt {
  background-color: red;
  color: wheat;
}

.alr {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 5px;
  background-color: lightcoral;
  color: red;
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50%;
}